.button {
    color: $white;
    @apply.rounded-lg .bg-accent .font-bold .text-card .text-sm .py-2 .px-6 .my-2;

    &.is-default {
        @apply .bg-muted-light .text-muted;
    }

    .theme-light & {
        box-shadow: 0 2px 4px 0 #422c6b;

        &.is-default {
            box-shadow: 0 2px 4px 0 #dbdbdb;
        }
    }

    .theme-dark & {
        box-shadow: 0 2px 4px 0 #00658b;
    }
}
