// Body
$body-bg: #f8fafc;

// Colors
$dark-blue: #0e1753;
$purple: #422c6b;
$light-blue: #6c63ff;
$grey: #dbdbdb;
$light-grey: #f5f5f5;
$yellow: #ffc907;
$light-yellow: #fae281;
$cyan: #86d4e1;
$white: white;
