.theme-light {
    --page-background-color: #f5f6f9;
    --card-background-color: #fdfdfd;
    --button-background-color: #422c6b;
    --header-background-color: #0e1753;

    --text-default-color: #0e1753;
    --text-accent-color: #422c6b;
    --text-hero-color: #0e1753;
    --text-accent-light-color: #9A87BE;
    --text-muted-color: rgba(0, 0, 0, 0.5);
    --text-muted-light-color: rgba(255, 255, 255, 0.3);
    --text-muted-light-color: #e1e6e8;
}
